.review-product-popup{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    align-items:center;
    padding: 50px;
    img {
        width: 20%;
        height: 20%;
    }
    .review-product-popup--text{
        text-align: center;
        //padding: 2em;

        li{
            list-style-type: none;
        }
    }
}


.review-product-popup---percent{
    font-size: 5em;
    font-weight: bold;
}